:root,
page,
.wd-root-portal {
  --wot-spacing-zero: var(--wot-n-0);
  --wot-padding-zero: var(--wot-n-0);
  --wot-padding-ultra-tight: var(--wot-n-2);
  --wot-padding-super-tight: var(--wot-n-4);
  --wot-padding-extra-tight: var(--wot-n-6);
  --wot-padding-tight: var(--wot-n-8);
  --wot-padding-main: var(--wot-n-10);
  --wot-padding-loose: var(--wot-n-12);
  --wot-padding-extra-loose: var(--wot-n-16);
  --wot-padding-super-loose: var(--wot-n-20);
  --wot-padding-ultra-loose: var(--wot-n-24);
  --wot-padding-spacious: var(--wot-n-28);
  --wot-padding-extra-spacious: var(--wot-n-32);
  --wot-padding-super-spacious: var(--wot-n-40);
  --wot-padding-ultra-spacious: var(--wot-n-48);
  --wot-spacing-ultra-tight: var(--wot-n-2);
  --wot-spacing-super-tight: var(--wot-n-4);
  --wot-spacing-extra-tight: var(--wot-n-6);
  --wot-spacing-tight: var(--wot-n-8);
  --wot-spacing-main: var(--wot-n-10);
  --wot-spacing-loose: var(--wot-n-12);
  --wot-spacing-extra-loose: var(--wot-n-16);
  --wot-spacing-super-loose: var(--wot-n-20);
  --wot-spacing-ultra-loose: var(--wot-n-24);
  --wot-spacing-spacious: var(--wot-n-28);
  --wot-spacing-extra-spacious: var(--wot-n-32);
  --wot-spacing-super-spacious: var(--wot-n-40);
  --wot-spacing-ultra-spacious: var(--wot-n-48);
}